.paragraph-1{
    color: blue;
            }
.paragraph-2{
    color: brown;
            } 
.paragraph-3{
    color:blueviolet
            }  
.paragraph-4{
    color: black;
            }                                 